@using Fallacies.Data
@model IEnumerable<Fallacy>

@{
    ViewBag.Title = "Aggregate fallacies";
}

<br />
<button onclick="location.href = '@Url.Action("AggregateData")'">Aggregate Data</button>
<hr />
<table cols="8">
    <tr>
        <th />
        <th />
        <th />
        <th>Name</th>
        <th>Код</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Пример(ы)</th>
    </tr>
    @foreach (Fallacy fallacy in Model)
    {
        @Html.Partial("_FallacyPartial", fallacy)
    }
</table>
