@model Fallacies.Data.Fallacy

<tr>
    <td><p style="background-image: url(@Model.GitImagePathBackground)"><img src="@Model.GitImagePathIcon"></p></td>
    <td><img src="@Model.SlackImage"></td>
    <td>@Model.Name</td>
</tr>